// Minimal testing dataset
// Specifies where testing data is found and passes to the appropriate run flags
// This is data stored on aws s3, accessible to anyone testing the pipeline


params {
    config_profile_description = 'Minimal test dataset to check pipeline function'
    config_profile_name = 'Mini-dataset test profile'

    // Input data
    manifest = "/Users/alantracey/Aculive/circleseq/input/min_local_manifest.yaml"

    // Output to pipeline specific location
    output = "/Users/alantracey/Aculive/circleseq/output"
}
