// Config for aws batch on bitbio

params {
  config_profile_name = 'AWS Batch profile'
  config_profile_description = 'This is the core profile for running Nextflow jobs on AWS Batch'
  config_profile_contact = ''
}

process {
  // This is the docker container to use on batch.
  // Testing job definitions vs images
  //container = '017309998751.dkr.ecr.us-east-1.amazonaws.com/nextflow-circleseq-tsailab:1.1'
  container = '017309998751.dkr.ecr.us-east-1.amazonaws.com/nextflow-circleseq-tsailab:jon.0.1'

  //container = "job-definition://nf-017309998751-dkr-ecr-us-east-1-amazonaws-com-nextflow-circleseq-tsailab-latest:4"
}
